{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
     {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% comment %} <link href={% static 'style.css'%} rel="stylesheet"> {% endcomment %}
    <link href='/static/style.css?v=2' rel="stylesheet">
    
    
    <title>Order</title>

</head>
  
<body>



    <h2 style='text-align: center'>ORDER</h2>
    <hr>


  

  <div class="container">
          <div class="row">
            <div class="col"><h5>Customer Search:</h5></div>
            <div class="col">
                <input class="form-control" list="datalistOptions" id="search" placeholder="Search Customer...">
                <datalist id="datalistOptions">
                </datalist>
            </div>
            
            <div class="col"><p id='customer_name'></p></div>
            
          </div>
  </div>






  
    




<!-- Button trigger modal -->
<!-- Button trigger modal -->
<br>
<div class="container">
  <div classs='row'>
   
    <div classs='col-5' style='margin:auto; 
    width:200px;' >
      <button type="button" class="btn btn-primary" style="justify-content: center;" 
      id="order" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Products
      </button>
    </div>
  </div>
</div>
<br>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Items</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <div class="container">
          <div class="row">
            <div style="text-align:center" class="col"><h4><b>Sl. No</b></h4></div>
            <div style="text-align:center" class="col"><h4><b>Product</b></h4></div>
            <div style="text-align:center" class="col"><h4><b>Code</b></h4></div>
            <div style="text-align:center" class="col"><h4><b>Unit Price</b></h4></div>
            <div style="text-align:center" class="col"><h4><b>Tax Percent</b></h4></div>
            <div style="text-align:center" class="col"><h4><b>Action</b></h4></div>
            <hr style='border-top: 4px solid black;'>
          </div>
        
        
        <div class='listing'>
        
          

    {% comment %} <button type="button" data-id='{{product.id}}' class="btn btn-success update"><i class="fas fa-check"></i></button>
    <button type="button" data-id='{{product.id}}' class="btn btn-danger delete" ><i class="fas fa-times"></i></button> {% endcomment %}
        </div> 


        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary " id='order_submit'>ok</button>
      </div>
    </div>
  </div>
</div>




 <div class="container">
          <div class="row">
          
            <div style="text-align:center " class="col"><h5 style='font-size: 1.5em'><b>Product Name</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b>Code</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b>Unit Price</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b>Quantity</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b>Tax percent</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b>Line Price</b></h5></div>
            <div style="text-align:center" class="col"><h5 style='font-size: 1.5em'><b> Delete</b></h5></div>
            <hr style='border-top: 4px solid black;'>
          </div>
        <div class='output'>
        </div>

        <div class="total_calculations">
        </div>

  </div>
<div  style='margin-left:auto; 
    width:200px; '>
  <button type="button" style='visibility: hidden' class="btn btn-secondary" id='onsubmit' >Submit</button>
  
</div>
<br>
<br>
<br>



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 {% comment %} <script src={% static 'order.js'%}></script> {% endcomment %}
 <script src='/static/order.js?v=3'></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 

  </body>
</html>
