.blah {
    margin:auto; 

    font-size:23px;
    color: rgba(14, 13, 13, 0.767);
    width:315px;
    border: 0px solid red;
    
    
}

.bla {
    margin:auto; 

    color: rgba(14, 13, 13, 0.767);
    width:315px;
    border: 1px solid rgba(158, 151, 151, 0.623);
    padding: 20px 15px;
    border-radius: 5px;

}

.bl {
    margin:auto; 

    color: rgba(14, 13, 13, 0.767);
    width:315px;
    border: 1px solid rgba(158, 151, 151, 0.623);
    padding: 20px 15px;
    border-radius: 5px;

}
.container{
     width:100%; 
     border: 0px solid rgba(158, 151, 151, 0.623);
    }    

.align-left{
     float: left;
     border: 0px solid rgba(158, 151, 151, 0.623); 
     /* margin:auto; */
     margin-left: 25%;
    }

.align-right{
     float: right;
     /* margin:auto; */
     /* margin-top: -1%; */
    
     margin-right: 25%;
     border: 0px solid rgba(158, 151, 151, 0.623);
     
     
    }

